.content_wrap {
    display: grid;
    width: 1080px;
    margin: 0 auto;
    margin-top: 6px;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 8fr;
    grid-gap: 6px;

    grid-template-areas:
    "top_left top_center"
    "bottom_left top_center";
}

.top_left {
    grid-area: top_left;
}

.bottom_left {
    grid-area: bottom_left;
}

.top_center {
    grid-area: top_center;
}



