.center {
    grid-area: center;
    background-color: #35454e;

    display: grid;

    grid-template-rows: 54px;
    grid-template-columns:  60px 100px auto 100px 100px 100px 100px 100px 100px;

    grid-template-areas:
    "logo search empty profile dialogs feed settings colum avatarname";

    color: white;
}

.center img{
    grid-area: logo;
    margin-top: 5px;
    margin-left: 5px;
    height: 44px;
}

.search {
    margin-top: 5px;
    grid-area: search;
}

.empty {
    margin-top: 5px;
    grid-area: empty;
}

.profile {
    margin-top: 5px;
    grid-area: profile;
}

.feed {
    margin-top: 5px;
    grid-area: feed;
}

.dialogs {
    margin-top: 5px;
    grid-area: dialogs;
}

.settings {
    margin-top: 5px;
    grid-area: settings;
}

.colum {
    margin-top: 5px;
    grid-area: colum;
}

.avatarname {
    margin-top: 5px;
    grid-area: avatarname;
}

