.head_wrap {
    display: grid;

    grid-template-rows: 54px;
    grid-template-columns: auto 1080px auto;

    grid-template-areas:
    "left center right";
}

.left {
    grid-area: left;
    background-color: #35454e;
}

.right {
    grid-area: right;
    background-color: #35454e;
}

