/*.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;



    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 8fr;
    grid-gap: 10px;

    grid-template-areas:
    "hh hh"
    "nn cc";
}

.header {
    grid-area: hh;
    background-color: darkgreen;
}

.header img {
    height: 50px;
}

.nav {
    grid-area: nn;
    background-color: darkred;
}

.content {
    grid-area: cc;
    background-color: orangered;
}
*/
